<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425765981427-q5o2m53gi5t8iiqe1r5b0jtpkudes9hf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425765981427-q5o2m53gi5t8iiqe1r5b0jtpkudes9hf</string>
	<key>API_KEY</key>
	<string>AIzaSyCeu1-dW_fcY2vcyl5iAAXdGwHTJs5VE94</string>
	<key>GCM_SENDER_ID</key>
	<string>425765981427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yazujumusa.MuscleRecord</string>
	<key>PROJECT_ID</key>
	<string>muscle-record</string>
	<key>STORAGE_BUCKET</key>
	<string>muscle-record.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425765981427:ios:0609ff89e29a7166acfb86</string>
</dict>
</plist>